# Environment file
# You need to source the environment if you intend to run build.sh and
# destroy.sh files from your local machine
# rename env.sample to .env and source it using `source .env`

######################
# Mandatory Variables:
######################

# -------------
# Azure Details
# -------------

# Azure Tenant ID
export ARM_TENANT_ID="<your azure tenant id>"
# Azure Subscription ID
export ARM_SUBSCRIPTION_ID="<your azure subscription id>"
# Azure Service Principal App ID
export ARM_CLIENT_ID="<your azure client id>"
# Azure Service Principal App Secret Key
export ARM_CLIENT_SECRET="<your azure client secret>"

#--------------------------------------------------------------------
# Mandatory variables for local admin account on VMs
#--------------------------------------------------------------------

# ansible need to ssh into to temporary VM.
# to login successfully we need valid local admin credentials
export TF_VAR_azure_vm_admin_username="<local admin user>"
export TF_VAR_azure_vm_admin_password="<local admin password>"


# ----------------------------------------------------
# Mandatory variables for building a new image version
#-----------------------------------------------------

# Name of the azure resource group, which contains the source VM
# (can be overridden by Github Action's input feature, when starting the workflow)
export azure_source_resource_group_name="<name of the source VM's azure resource group>"
# Name of the source VM
# (will be overridden by Github Action's input feature, when starting the workflow)
export azure_source_vm_name="<name of the azure source VM>"
# Name of the azure shared image gallery image version, which should be created
# (will be overridden by Github Action's input feature, when starting the workflow)
export azure_sig_image_version_name="1.0.0"

#-------------------------------------------------------------------------
# Mandatory variables for pre-existing azure share image gallery resources
#-------------------------------------------------------------------------

# Name of the resource group which contains the azure shared image gallery
export azure_sig_resource_group_name="<resource group of the azure shared image gallery>"
# Azure region where the azure shared image gallery exists. E.g. westeurope
export azure_sig_resource_group_location="<azure region>"
# Name of the azure shared image gallery
export azure_sig_name="<name of the shared image gallery>"
# Name of the azure shared image gallery image definition, where the new version should be deployed
export azure_sig_image_definition_name="<name of the shared image gallery definition>"


# ------------------
# Nothing to do here
# ------------------

# Making credentials also available to Ansible
export AZURE_TENANT=$ARM_TENANT_ID
export AZURE_SUBSCRIPTION_ID=$ARM_SUBSCRIPTION_ID
export AZURE_CLIENT_ID=$ARM_CLIENT_ID
export AZURE_SECRET=$ARM_CLIENT_SECRET
